@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  color: #222;
  scroll-behavior: smooth;
  background-color: #F8F3CA;
}
.bgindex {
  background-color: white;
}
.navbar {
  padding: .8rem;
}
.navbar-custom {
  background-color: #222;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
/* unvisited link */
.nav-link:link {
  color: #F8F3CA;
}
/* visited link */
.nav-link:visited {
  color: #F8F3CA;
}
/* mouse over link */
.nav-link:hover {
  color: #F5A81B;
}
/* selected link */
.nav-link:active {
  color: #4C63CD;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  min-height:400px;
  object-fit:cover;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h2 {
  font-size: 200%;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 150%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #4C63CD;
  border: #4C63CD;
}
.btn-primary:hover {
  background-color: #2d429f;
  border: #2d429f;
}
.jumbotron {
  padding: 2rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 1rem;
}
.welcome hr {
  border-top: 2px solid #F5A81B;
  width: 95%;
  margin-top: .2rem;
  margin-bottom: 1rem;
}
footer {
  background-color: #222;
  padding-top: 2rem;
}
footer p {
  color: #F8F3CA;
}
footer h5 {
  color: #F5A81B;
  margin-top: 1em;
  margin-bottom: 1em;
}
.icon {
  padding-top: 1rem;
}
.fa-bars {
  color: #F8F3CA;
}
.light {
  border-top: 2px solid #F5A81B;
}
/* unvisited link */
.genlink:link {
  color: #F8F3CA;
}
/* visited link */
.genlink:visited {
  color: #F8F3CA;
}
/* mouse over link */
.genlink:hover {
  color: #F5A81B;
}
/* selected link */
.genlink:active {
  color: #4C63CD;
}
p.intro {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 125%;
}
.bodystyle {
  width: 70%;
  background-color: white;
  min-height: 50%;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-fluid img {
  width: 100%;
  height: 100%;
  min-height:400px;
  object-fit:cover;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-fluid h2 {
  font-size: 300%;
  text-shadow: 1px 1px 15px #000;
  color: white;
  text-align: center;
}
p {
  text-align: left;
}
.image-thumbnail {
  width: 500px;
}
.shade {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}
.aboutme {
  width: 80%;
  padding: 2rem;
}
.contact {
  width: 50%;
  padding: 2rem;
}
.my-4 {
  width: 90%;
}
.blockquote-footer {
  background-color: inherit;
}
.blockquote {
  border-left-style: solid;
  border-left-color: #222;
  border-left-width: 3px;
  padding-left: 1rem;
}
